.titulo-admin {
  font-family: "Russo One", sans-serif;
  color: rgb(255, 87, 34);
}

.table {
  font-family: "Raleway", sans-serif;
}

.fondo {
  background-color: #f9f9fa;
  color: rgb(238, 238, 238);
}

.btn-table {
  z-index: 999;
}

.btn-admin {
  border: 4px solid rgb(255, 87, 34) !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: bold !important;
}

.btn-admin:hover {
  background-color: #000 !important;
  color: #eee !important;
}

.table-responsive {
  width: 310px !important;
}

@media (min-width: 768px) {
  .table-responsive {
    width: 680px !important;
  }
}

@media (min-width: 1024px) {
  .table-responsive {
    width: 940px !important;
  }
}
