h1{
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 87, 34)
 };

 .table{
    font-family: 'Russo One', sans-serif;
 };

 .fondo{
        background-color: rgb(34, 40, 49)
 };

 .botonU{
   color: rgb(45, 64, 89) ;
 };

 .botonC{
   color: rgb(255, 87, 34) ;
 }



 /*

 rgb(45, 64, 89)

rgb(238, 238, 238)