h1{
    font-family: 'Russo One', sans-serif;
    color: rgb(255, 87, 34)
 };

 .table{
    font-family:'Raleway', sans-serif 
 };

 .fondo{
        color: rgb(34, 40, 49)
 };



 /*

 rgb(45, 64, 89)

rgb(238, 238, 238)