*{
    background-color: #2D4059;
}
p , .btn{
    font-family: 'Raleway', sans-serif !important;

}

h1, h2, h3, h4, h5{
    font-family: 'Russo One', sans-serif !important;
}


img{
    width: 100%;
    border: #FF5722;
    
}

.datos{
    color: #FF5722;
}

.btn-cursos{
    outline: 1px solid #FF5722;
    background-color: #2D4059 !important;
    color: #EEEEEE !important;
}

.btn-cursos:hover{
    outline: 4px solid #FF5722;
    background-color: #FF5722 !important;
}