.background {
  background-color: #222831;
}

.btn-style {
  background-color: #ff5722 !important;
  color: #eeeeee !important;
}

.btn-style:hover {
  outline: 2px solid #eeeeee !important;
  background-color: #eeeeee !important;
  color: #ff5722 !important;
}


@media (min-width: 1250px) {
  .background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://png.pngtree.com/background/20230528/original/pngtree-gym-filled-with-machines-and-equipment-picture-image_2774012.jpg");
    background-size: cover;
    color: #222831;
  }
}

@media (min-width: 768px) {
  .background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://png.pngtree.com/background/20230528/original/pngtree-gym-filled-with-machines-and-equipment-picture-image_2774012.jpg");
    background-size: cover;
    color: #222831;
  }
}
