@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Russo+One&display=swap');

:root{
    --color-1: #222831;
    --color-2: #2D4059;
    --color-3: #FF5722;
    --color-4: #EEEEEE;
}

main {
    background: var(--color-1);
}

h2 {
    color: var(--color-4);
}

.card-body {
    background: var(--color-2);
}

.card-title {
    color: var(--color-4);
}

p {
    color: var(--color-4);
}

.list-group-item {
    background: var(--color-2);
    color: var(--color-4);
}

.btn {
    background: var(--color-3);
    color: var(--color-4);

}