@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Russo+One&display=swap');

:root{
    --color-1: #222831;
    --color-2: #2D4059;
    --color-3: #FF5722;
    --color-4: #EEEEEE;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-2);
    /* font-family: 'Russo One', sans-serif; */
    border-radius: 10px 10px 10px 10px;
}

.titulo {
    font-family: 'Russo One', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    margin: 10px 0;
    padding: 10px;
    font-family: 'Russo One', sans-serif;
    /* background-color: var(--color-4); */
}

label {
    font-size: 1.2em;
    font-weight: 10px;
}

input {
    width: 100%;
    padding: 5px;
    font-size: 1em;
}

button {
    background-color: var(--color-3);
    color: var(--color-4);
    border: none;
    padding: 5px 20px;
    font-size: 1.2em;
    cursor: pointer;
}