@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Russo+One&display=swap');

:root{
    --color-1: #222831;
    --color-2: #2D4059;
    --color-3: #FF5722;
    --color-4: #EEEEEE;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    background: var(--color-1);
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22em;
    height: 52vh;
    background-color: var(--color-2);
    border-radius: 25px;
}

.login-container h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Russo One', sans-serif;
    margin-top: 25px;
    color: var(--color-3);

}

form {
    margin-top: 15px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
    font-family: 'Raleway', sans-serif;
    color: var(--color-3);
}

.input-container input {
    height: 1.5em;
    width: 15em;
    border-radius: 15px;
    border-width: 15px;
    border: var(--color-4);
    box-shadow: 0 0 6px rgb(0, 0, 0);
    outline: none;
    padding: 10px;
    font-size: 20px;
}

input:focus {
    box-shadow: 0 1px rgba(229, 103, 23, 0.075) inset, rgb(0, 0, 0);
    outline: 0 none;
}

.registro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    margin-right: 5px;
    margin-top: 15px;
}

.login-button button {
    color: var(--color-3);
    font-size: 20px;
    height: 3.5em;
    width: 14em;
    margin: 10px;
    margin-top: 2px;
    border-radius: 15px;
    background: var(--color-1);
    font-family: 'Raleway', sans-serif;
    border: none;
    transition: all .2s ease-in-out;
}

.login-button button:hover {
    transform: scale(1.1);
}