@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Russo+One&display=swap");

:root {
  --color-1: #222831;
  --color-2: #2d4059;
  --color-3: #ff5722;
  --color-4: #eeeeee;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--color-1);
}

.login-container {
  width: 80%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: var(--color-2);
  border-radius: 25px;
}

.login h2 {
  text-align: center;
  font-family: "Russo One", sans-serif;
  color: var(--color-3);
}

.login form {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  color: var(--color-3);
}

.input-container {
  margin-bottom: 15px;
}

.login label {
  margin-bottom: 5px;
}

.login input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.login-button {
  background-color: var(--color-1);
  color: var(--color-3);
  padding: 10px;
  border: none;
  border-radius: 15px;
  font-family: "Russo One", sans-serif;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.login-button:hover {
  transform: scale(1.1);
}

@media (min-width: 600px) {
  .login-container {
    width: 60%;
  }

  .container-loginbutton {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .login-button {
    width: auto;
    margin-bottom: 0;
  }

  .registrarse {
    margin-left: 10px;
  }
}

@media (min-width: 768px) {
  .login-container {
    width: 50%;
  }
}
