.icon {
  width: 2rem;
}

.btn-style {
  background-color: #ff5722 !important;
  color: #eeeeee !important;
}

.btn-style:hover {
  outline: 2px solid #eeeeee !important;
  background-color: #eeeeee !important;
  color: #ff5722 !important;
}

.btn-login {
  border-color: #ff5722 !important;
  color: #ff5722 !important;
}
.btn-login:hover {
  outline: 2px solid #ff5722 !important;
  background-color: #ff5722 !important;
  color: #eeeeee !important;
}

.btn-outline-primary {
  border-color: #ff5722;
}

.nav-link {
  color: #ff5722 !important;
  border-radius: 5px;
}

.nav-link:hover {
  color: #eeeeee !important;
  background-color: #ff5722;
}

.logo {
  font-family: "Russo One", sans-serif !important;
}
