/*  
paleta de colores 
negro : #222831
azul : #2D4059
naranja : #FF5722
blanco : #EEEEEE
*/

*{
    font-family: 'Russo One', sans-serif;
}

.navbar {
    background-color: #2D4059;
}

/* .logo{
    border-bottom: #FF5722 2px solid; 
    padding: 5px;
} */

.btn-style {
    background-color: #FF5722 !important;
    color: #EEEEEE !important;
}

.btn-style:hover{
    outline: 2px solid #EEEEEE !important;
    background-color: #EEEEEE !important;
    color: #FF5722 !important;
}

.btn-login{
    border-color: #FF5722 !important;
    color: #FF5722 !important;
}
.btn-login:hover{
    outline: 2px solid #FF5722 !important;
    background-color: #FF5722 !important;
    color: #EEEEEE !important;
}

.btn-outline-primary{
    border-color: #FF5722;
}

.nav-link{
    color: #FF5722 !important;
}

.nav-link:hover{
    color: #EEEEEE !important;
    /* outline: 2px solid ; */
    border-bottom: #EEEEEE 2px solid;
}