.rowTitulo {
  background-color: #ff5722;
  border-radius: 10px;
}

.btn-cursos {
  background-color: #ff5722 !important;
  color: #eeeeee !important;
}

.btn-cursos:hover {
  outline: 2px solid #eeeeee !important;
  background-color: #eeeeee !important;
  color: #eee !important;
}

.infoPer {
  border-bottom: #ff5722 14px solid !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
