.btn-plan {
  font-family: "Raleway", sans-serif !important;
  background-color: #ff5722 !important;
  color: #eeeeee !important;
}

.btn-plan:hover {
  outline: 2px solid #eeeeee !important;
  background-color: #eeeeee !important;
  color: #ff5722 !important;
}

.btn-outline-primary {
  border-color: #ff5722 !important;
}

.plan-card {
  height: 500px !important;
}
