.img-service {
  width: 100%;
  border: #ff5722;
}

.datos {
  color: #ff5722;
}

.btn-cursos {
  outline: 1px solid #ff5722;
  background-color: #2d4059 !important;
  color: #eeeeee !important;
}

.btn-cursos:hover {
  outline: 4px solid #ff5722;
  background-color: #ff5722 !important;
}

.img-spinning {
  max-height: 600px;
}
