thead th{
    font-family: 'Raleway', sans-serif;

};

tbody th{
    font-family: 'Raleway', sans-serif;
};

table{

    background-color: blue;
    border: 3px solid purple;
};

h1{
    color: blueviolet;
}

