thead th {
  font-family: "Raleway", sans-serif;
}
thead {
  border: 10px double rgb(45, 64, 89);
}

tbody th {
  font-family: "Raleway", sans-serif;
  font-size: 90%;
}

.table-admin tbody {
  font-family: "Raleway", sans-serif;
  font-size: 100%;
}

.table-admin {
  border: 10px double;
}
