@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");

:root {
  --black: #222831;
  --blue: #2d4059;
  --orange: #ff5722;
  --white: #eeeeee;
}

.text-title {
  font-family: "Russo One", sans-serif !important;
}

.text-body {
  font-family: "Raleway", sans-serif;
}

.bg-blue {
  background-color: var(--blue) !important;
}

.bg-orange {
  background-color: var(--orange);
}

.bg-our-black {
  background-color: var(--black);
}

.bg-our-white {
  background-color: var(--white);
}

.text-blue {
  color: var(--blue);
}

.text-orange {
  color: var(--orange);
}

.text-our-black {
  color: var(--black);
}

.text-our-white {
  color: var(--white) !important;
}

.border-orange {
  border: 5px solid var(--orange);
}
